[user-info]
name=USER_NAME

[directory-path]
project=/home/USER_NAME/genomon
script=script
ref=ref
input=data/input
output=data/output   
result=data/result  
db=db
sys=sys
tmp=tmp
log=log
inhousedata=
summarydata=

[data-file]
hg19fasta=ref/hg19_bwa-0.5.10/hg19.fasta
dbsnprod=

[adapter]
read1=NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
read2=NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN

[bin]
bwa=bin/bwa-0.5.10/bwa
picard=bin/picard-tools-1.39
samtools=bin/samtools-0.1.15/samtools
bedtools=bin/BEDTools-Version-2.14.3/bin
cutadapt=bin/cutadapt-1.0/cutadapt
annovar=bin/annovar
javatools=
python2.6=/usr/local/package/python2.6/2.6.5/bin/python
java6=/usr/local/package/java/current6/bin/java
maq=/usr/local/bin/maq
R=/usr/local/bin/R
gatk=bin/GenomeAnalysisTK-1.4-21-g30b937d
gatk1_0=

[db]
inhouseflg=0
inhouse_version=v1
cosmicflg=0
cosmic_version=v57

[ngsdb]
dbname=
hostname=
port=
user=
password=

#check fasta file

 
